.nav__container {
    position: fixed;
    width: 100%;
    height: 8.5rem;
    background-color: var(--color-primary);
    z-index: 1000;
    padding-bottom: 1rem;
}
.nav {
    position: relative;
}

.nav__header {
    padding: 1.5rem 4rem 0;
    display: flex;
    justify-content: space-around;
}

.logo {
    max-width: 10rem;
    transition: transform 300ms ease;
}

.logo:hover {
    transform: scale(108%);
}

.form__search {
    display: flex;
    background-color: var(--color-white);
    border-radius: 1rem;
    overflow: hidden;
    height: 2.5rem;
    padding-left: 0.8rem;
    max-width: max-content;
}

.form__search:focus-within {
    box-shadow: 0 0 20px #5577ff33;
}

.form__search_input {
    height: 100%;
    width: 100%;
    max-width: 15rem;
}

.form__search_submit {
    background-color: #09f;
    color: #fff;
    height: 100%;
    font-weight: 600;
    cursor: pointer;
    padding-right: 1rem;
    transition: background-color 300ms ease;
}

.form__search_submit:hover {
    background-color: #0099ffdd;
}

.btn-car {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    padding: 0;
}

.btn-car:hover {
    background-color: #57f;
    color: #fff;
}

/* -------- FILTROS ------------- */

.list_filters {
    margin-top: 0.5rem;
    display: flex;
    justify-content: space-around;
}

.list_filters > li {
    margin-top: 0.5rem;
    margin-right: 1rem;
    width: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn_filter,
.btn_sin_filter {
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.3);
    color: #fff;
    border-radius: 9999px;
    padding: 0.7rem 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: border-color 300ms ease;
}

.btn_filter:hover,
.btn_sin_filter:hover {
    border-color: #fff;
}

.list_filter {
    display: none;
    position: absolute;
    top: 8rem;
    width: max-content;
    margin-top: 0.2rem;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 0.4rem;
    padding-right: 1.8rem;
}

.btn_close {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    border-radius: 50%;
    cursor: pointer;
}

.list_filter ul {
    padding: 0.5rem;
}

.list_filter ul li {
    margin-bottom: 0.5rem;
}

.btn_filter_item {
    cursor: pointer;
    background-color: transparent;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 9999px;
    padding: 0.5rem 0.8rem;
    transition: border-color 300ms ease;
}

.btn_filter_item:hover {
    border-color: #000;
}

.btn-filtros {
    display: none;
    background-color: #09f;
    color: #fff;
    top: 4.5rem;
}

@media screen and (max-width: 720px) {
    .nav__container {
        padding-bottom: 0;
    }
    .nav__header {
        flex-direction: column;
        align-items: center;
        padding-bottom: 1rem;
    }

    .form__search {
        margin-top: 1.5rem;
    }
    .list_filters > li {
        margin-right: 0;
    }

    .list_filters {
        display: flex;
        flex-direction: column;
        position: absolute;
        background-color: var(--color-black2);
        right: -10rem; /* 0.5rem */
        top: 8rem;
        border-radius: 1rem;
        padding: 0.5rem;
        transition: right 300ms ease;
    }

    .list_filters-opened {
        right: 0.5rem;
    }

    .list_filter {
        top: 0.5rem;
        right: 1rem;
    }

    .btn-filtros {
        display: inline-block;
    }
}

/* CARRITO */

.tabla,
.tabla_cuerpo {
    display: block;
    overflow-y: auto;
}

.tabla {
    display: none;
    right: 0.5rem;
    border-collapse: collapse;
    position: absolute;
    top: 5rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 0.4rem;
    background-color: #fff;
    color: #000;
    text-align: center;
    z-index: 100;

    transition-property: opacity, right;
    transition: 300ms ease;
}

.tabla-opened {
    display: block;
}

.tabla_cuerpo {
    display: block;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    height: 20rem;
    overflow-y: auto;
    overflow-x: hidden;
}

.tabla_nombre {
    width: 9rem;
}

.tabla_precio {
    width: 5rem;
}

.tabla_cantidad {
    width: 6rem;
}

.tabla_cuerpo > tr {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    height: 2rem;
}

.btn-comprar {
    background-color: var(--color-react);
    color: #fff;
    padding: 0.5rem 0.8rem;
}

.btn-comprar:hover {
    background-color: #000;
    color: #fff;
}
