* {
    box-sizing: border-box;
}

:root {
    --color-white: #fff;
    --color-black: #000;
    --color-black2: #111;
    --color-black3: #666;
    --color-gris: #888;
    --color-primary: #ff6d33;
    --color-gold: #efb810;
    --color-react: #61dafb;
    --color-spring: #6db33f;

    --container-width-lg: 1540px; /* grandes */
    --container-width-md: 1140px; /* medianos */
    --container-width-sm: 100%; /* pequeños */

    --break-points-desktop: 1600px;
    --break-points-mobile: 991px;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Inter", sans-serif;
    overflow-x: hidden;
    word-wrap: break-word;
    background-color: var(--color-white);
    color: var(--color-black);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
}

main {
    padding-top: 10rem;
    padding-bottom: 4rem;
}

p {
    line-height: 1.7rem;
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    transition: color ease 0.3s;
}

.btn {
    display: inline-block;
    width: max-content;
    padding: 1rem 1.2rem;
    cursor: pointer;
    font-weight: 600;
    border-radius: 0.4rem;
    transition-property: background-color, border, color;
    transition: 300ms ease;
}

.btn-primary {
    background-color: transparent;
    color: var(--color-primary);
    border-color: var(--color-primary);
}

.btn-green {
    background-color: var(--color-spring);
    color: var(--color-white);
    border-color: var(--color-spring);
}

@media (hover: hover) {
    a:hover {
        color: var(--color1);
    }
    .btn:hover {
        background-color: transparent;
        border-color: var(--color1);
        color: var(--color1);
    }
}

@media screen and (max-width: var(--break-points-mobile)) {
    a:active {
        color: var(--color1);
    }
    .btn:active {
        background-color: var(--bg-color1);
        color: var(--color1);
    }
}

img {
    display: block;
    width: 100%;
}

button,
input {
    border: 0;
    outline: 0;
}

.u-center {
    max-width: var(--container-width-lg);
    margin: 0 auto;
    padding: 0 1.5rem;
}

@media screen and (max-width: 1600px) {
    .u-center {
        max-width: var(--container-width-md);
    }
}

@media screen and (max-width: 991px) {
    .u-center {
        max-width: var(--container-width-sm);
    }
    .main {
        padding-top: 10rem;
    }
}

@media screen and (max-width: 551px) {
    .u-center {
        padding: 0 0.5rem;
    }

    .main {
        padding-top: 8rem;
    }
}
